/*general rules*/

* {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
/*
  margin: 0;
  padding: 0;
*/
}

a {
  text-decoration: none;
}

ul {
  list-style: circle outside none;
}



.back-to-top {
  cursor: pointer;
  position: fixed;
  top: 17px;
  right: 19px;
/*  display: none;*/
  background-color: rgba(255,255,255,.2);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.08);
}

.back-to-top:hover {
  background-color: rgba(0,0,0,.06);
}

.back-to-top img {
  display: block;
  width: 20px;
  height: 20px;
}

/*sticky footer*/

.main-wrap {
  min-height: calc(100vh - 88px);
}


/*navigation*/

#navbarNavAltMarkup {
  padding-left: 8%;
}

.navbar-toggler {
  font-size: 1.0rem;
}

.navi {
  background-color: #fff;
}

.logo a {
  color: rgba(0, 0, 0, .5) !important;
  cursor: pointer;
  text-decoration: none;
}

.logo a:hover {
  color: rgba(0, 0, 0, .6) !important;
}

.nav-item {
  margin-right: 25px;
}

.navi-dropdown-list a:nth-child(4) {
  display: none;
}

.navi-logo h1 {
  margin: 0;
}

.navi-logo p {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

.navbar-toggler {
  order: 100;
}

.navi-phone a {
  color: rgba(0, 0, 0, .5) !important;
  text-decoration: none;
}

.navi-phone a:hover {
  color: rgba(0, 0, 0, .7) !important;
}

.navi-phone p {
  margin: 0;
  padding: 0;
}



/*gallery*/

.gallery-list a {
  color: rgba(0, 0, 0, .5) !important;
  text-decoration: none;
}

.gallery-list a:hover {
  color: rgba(0, 0, 0, .7) !important;
}



/*footer*/

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon1,
.icon3 {
  width: 20px;
}

.icon2 {
  width: 15px;
  margin-right: 5px;
}

.icon1 {
  margin-left: auto;
}

.conacts {
  text-align: center;
}

.conacts:nth-child(4) {
  margin-top: -10px;
}

.second-menu span {
  padding-left: 30px;
}

.second-menu a {
  color: rgba(0, 0, 0, .5);
  text-decoration: none;
}

.second-menu a:hover {
  color: rgba(0, 0, 0, .7);
}

.active-link {
  color: rgba(0, 0, 0, .9)!important;
}

/*call-back*/

.call-back {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-back {
  text-align: center;
}




@media(max-width: 1024px) {
  
  .main-wrap {
  min-height: calc(100vh - 136px);
}
  
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .second-menu span {
    padding-left: 0;
    margin: 0 7px
  }
}



@media (max-width: 767px) {
  .navi-logo h1 {
    font-size: 1.5em;
  }

  .navi-logo p {
    font-size: 0.7em;
  }

  #navbarNavAltMarkup {
    padding-left: 0;
  }
}



@media (max-width: 500px) {

  .navi-arrows {
    display: none;
  }

  #carouselExampleFade {
    display: none;
  }
}



@media (max-width: 400px) {
  .navi-phone {
    display: none;
  }

  .navi-dropdown-button {
    margin-left: auto;
  }

  .navi-dropdown-list a:nth-child(4) {
    display: block;
  }
}
